/EvenOdd.class
/MultiplicationTable.class
/PerfectNumRange.class
/PerfectNumber.class
/PrimeNumber.class
/PrintNumber.class
/PrintPrime.class
/ReverseNum.class
/SumOfNumber.class
/SumOfPrimeNumber.class
/table.class
