/ArrayExample.class
/ArrayForLoop.class
/ClassForMultipleObject.class
/ClassForMultipleObject2.class
/Example.class
/FloatValueStore.class
/LargestElement.class
/MulObject.class
/MulValue.class
/SmallestElement.class
/StoreStringObjectName.class
